<!DOCTYPE html>
<html lang="en"> 

<head>
	<title>C-Square</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

	<link rel = "stylesheet" href = "/static/bootstrap/css/bootstrap.css" media="screen">
	<link rel = "stylesheet" href = "/static/bootstrap/css/bootstrap-responsive.css" media="screen">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>

	<!-- Le styles -->
        <style type="text/css">
          body {
            font-size: 12px;
            padding-top: 60px;
            padding-bottom: 40px;
          }
          .sidebar-nav {
            padding: 9px 0;
          }

          @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
              float: none;
              padding-left: 5px;
              padding-right: 5px;
            }
        }
            /*Table modifications*/
      		.table th, .table td { 
     				border-top: none; 
 			}
 			 </style>

</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="">CSquare</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
                Welcome back, {{ g.username }}
                 <img src="/static/profile_img/teacher_dragon_1.png" width="30" height="30">
            </p>
            <ul class="nav">
                <li class=""><a href="/dashboard">Dashboard</a></li>
                  <li class="dropdown">
                      <a id="classDrop" class="dropdown-toggle" data-toggle="dropdown" role="button" href="">
                          My Classes
                          <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="classDrop" role="menu">
                          <li role="presentation">
                                 <a href="/classes/1" tabindex="-1" role="menuitem">1A-Mathematics</a>
                             </li>
                          <li role="presentation">
                                 <a href="/classes/2" tabindex="-1" role="menuitem">3B-Science</a>
                          </li>
                          <li role="presentation">
                                   <a href="/classes/2" tabindex="-1" role="menuitem">{{g.class_name}}</a>
                          </li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a id="createDrop" class="dropdown-toggle" data-toggle="dropdown" role="button" href="">
                            Create
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="createDrop" role="menu">
                            <li role="presentation">
                                <a href="{{url_for('create_class')}}" tabindex="-1" role="menuitem">A new class</a>
                            </li>
                            <li role="presentation">
                                  <a href="{{url_for('create_assignment')}}" tabindex="-1" role="menuitem">A new mission!</a>
                              </li>
                        </ul>
                  </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div> <!-- end navbar navbar-inverse navbar-fixed-top -->

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span1"></div>
            <div class="span3">
                <div class="media">
					<img src="/static/profile_img/teacher_dragon_1.png" class="media-object" width="100" height="100">
					<div class="media-body">
						<table class="table table-striped">
						    <tr>
								<td>Class</td>
								<td>{{g.class_name}}</td>
							</tr>
							<tr>
								<td>Master</td>
								<td>cylho</td>
							</tr>
							<tr>
								<td>Number of Students</td>
								<td>0</td>
							</tr>
							<tr>
								<td>Missions Available</td>
								<td>0</td>
							</tr>
						</table>
					</div>
				</div>
				<hr>
				<h4 style="margin-top: 0px;">Rankings</h4>
				<i>No students listed in this class.</i><br>
				<a href="#">Import student list</a>
            </div>
            <div class="span7">
                <div class="span12">
                    <h6>Story:</h6>
                    <i>{{g.story}}</i><br>
                    <h6>Goal:</h6>
                    <i>{{g.goal}}</i><br>
                    <hr>
                </div>
                <div class="span12">
                	<h6>Students</h6>
            	</div>
           	    <div class="span12">
           			<h6>Missions</h6>
           		</div>
            </div>
            
    </div> <!-- end of container-fluid -->
		
		<!-- footer -->
		<div class="footer">
		</div>
		<!-- footer -->
	</div>
</body>


</html>